In [5]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from word2number import w2n

In [30]:
df = pd.read_csv("salary.csv")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [18]:

str(df.experience[2])

'five'

In [41]:
df.experience = df.experience.fillna('zero')
df.experience =df.experience.apply(w2n.word_to_num)

In [35]:
import math
mid = math.floor(df['test_score(out of 10)'].mean())
mid

7

In [36]:
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(mid)
df['test_score(out of 10)']

0     8.0
1     8.0
2     6.0
3    10.0
4     9.0
5     7.0
6     7.0
7     7.0
Name: test_score(out of 10), dtype: float64

In [42]:
reg = linear_model.LinearRegression()
reg.fit(df[['experience','test_score(out of 10)','interview_score(out of 10)']],df['salary($)'])

LinearRegression()

In [43]:
reg.predict([['2','9','6']])

C:\Users\dell\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  return f(*args, **kwargs)

array([53713.86677124])